## Hoja de trabajo 4

Actividades:             
1. Elabore un modelo de regresión lineal utilizando los datos brindados en el dataset.                                    
2. Explique los resultados a los que llega.
3. Muestre el modelo gráficament              e.
4. El experimento debe ser reproducible por lo que debe fijar que los conjuntos de
entrenamiento y prueba sean los mismos siempre que se ejecute el cód              igo.
5. Analice el modelo. Determine si hay colinealidad en las variables, y cuáles son la  que
aportan al modelo, por su valor de significación.
6. Especifique si el modelo se adapta bien a los                datos.
7. Explique si hay sobreajuste (overfitting) o no. En caso de existir sobreajuste, h ga otro
modelo que lo             corrija.
8. Determine la calidad d           el modelo.
9. Utilice el modelo con el conjunto de prueba y determine la eficiencia del alg ritmo para
predecir el precio           del seguro.
10. Discuta sobre la efectividad del modelo. Haga los gráficos que crea que le  ueden ayudar
en            la discusión.
11. Realice una presentacion en Power Point explicando sus resulta os. Debe poner
informacion importante como hemos visto en clases pasadas. Estructura de la data, las
variables, cuales se usarin, cuales no, metricas de precisión e interpr tacion de estas.
Calculadora de...    predicciones, etc

In [2]:
import pandas as pd

In [3]:
insurance = pd.read_csv('insurance.csv')

In [4]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [7]:
insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')